
.homepage {
    height: 100vh;
    background: url(https://res.cloudinary.com/dzgeqcksj/image/upload/v1611177804/RecordCollection/cpr26503_rytrxc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }