.Index {
    background: url(https://res.cloudinary.com/dzgeqcksj/image/upload/v1611177771/RecordCollection/second-hand-590789-e1523982087287_tw05u5.jpg);
    /* background-size: auto; */
    background-repeat: repeat-y;
    height: 100%;
    font-family: 'Pacifico', cursive;
  }

  .indexlist {
    display: flex;
    justify-items: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.oneindex {
    border: 1px black solid;
    color: white;
    border-radius: 3px;
    position: relative;
    margin: 10% auto auto auto;
    width: 125px;
    padding: 20px 40px;
    background: rgb(43, 43, 43);
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}

  .test {
      color: white;
  }

