.Index {
    background: url(https://res.cloudinary.com/dzgeqcksj/image/upload/v1611177771/RecordCollection/second-hand-590789-e1523982087287_tw05u5.jpg);
    background-size: cover;
    height: 100vh;
    overflow: scroll;
  }

  .indextitle {
      font-size: 78px;
  }

  .indexlist {
    display: flex;
    justify-items: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.oneindex {
    border: 5px black round;
    color: white;
    border-radius: 3px;
    position: relative;
    margin: 10% auto auto auto;
    width: 125px;
    padding: 15px 40px;
    background: rgb(43, 43, 43);
    opacity: 0.8;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

  .test {
      color: white;
  }

