.App {
  text-align: center;
  background-color: gray;
}

/* body {
  background: url(https://res.cloudinary.com/dzgeqcksj/image/upload/v1611177804/RecordCollection/cpr26503_rytrxc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

